#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s20u6c2 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp0s25 --onboot=off --ipv6=auto
network  --hostname=elitebook.ipa.schram.name

# Root password
rootpw --iscrypted $6$xKhQjP01vMblCOLX$uw0I2ooEBTin0Dy2eVwXVqwsheEI0mrarBx4Ij42xIn0Dg/8ZCVDCSDb/57qI9Sk53NJOunac28Kqsp9rL4uz.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Amsterdam --isUtc --ntpservers=0.rhel.pool.ntp.org,1.rhel.pool.ntp.org,2.rhel.pool.ntp.org,3.rhel.pool.ntp.org
user --groups=wheel --name=schram --password=$6$q1vC7Fsbeh99TV43$E.kAnMDwJPV7X7sVA11zP1uQpijoY70Icfpf40GBlMWP0e8ysovrbvvwDypxGjJAdfAVYM1RqWuGEKsz0tS5P. --iscrypted --gecos="Geerten Schram"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
