#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=rhel7-1.schram.name

# Root password
rootpw --iscrypted $6$LfDD0JvQQJa9OGGJ$n9KbYm1R4yU6V9xP2Xx0q2w3BT9KIlwdbor4hKm7KYcKKFALHDU3c14p1fqYkT7u5zj4NVGH//Eg9SnNUAe85/
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Amsterdam --isUtc --nontp
user --groups=wheel --name=schram --password=$6$gyJPBHFrRykPAiln$t8k9w35wSh3k4251oYTkL9Hn8Ims5h.TDnSCNCuYg3mYEa/YL0RzZkbhX.HKpT95fU/FjQnsVJO57AsriMWlI. --iscrypted --gecos="Geerten Schram"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
